extends ../layouts/default

block content
	.container: .jumbotron
		
		h1 Welcome to Hoam Skool,
		br

		div.row
			div.col-xs-6
				img.img-responsive.img-circle(src='/images/profilepic.jpg')
			div.col-xs-6
				p I'm George Armstrong, A writer/ web developer from Wellington, New Zealand currently residing in Melbourne, Australia.
				br
				p Currently writing my first novel, a comedy about ill fated video game developer, Eric Armisen. The novel follows Eric as he deals with the apparent suicide of his brief lover and colleague Tilda while concealing the affair from the company's elusive CEO who tasks Eric with investigating the deeper causes of Tilda's death.
				br
				p I plan to release the novel in chapters on my blog. The first chapter is due to be published at the end of October 2016.
				